.container
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

form {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cantidadesBoton
{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.cantidades
{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boton
{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boton button
{
  width: 80%;
  height: 60%;
  background-color: #00b300;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.fila1, .fila2
{
  width: 70%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.caja
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grupo {
  width: 40vw;
  height: 50vh;
}

.nested-node {
  padding-left: 40px;
}




.input-num {
  vertical-align: middle;
}

.grupo {
  height: 500px;
  width: 420px;
	overflow-y: scroll;
}

.mat-tree-node {
  margin-left: 12px;
}

.nested-node {
  padding-left: 40px;
}

.example-tree .nested-node > .mat-tree-node {
  padding-left: 40px;
}

.example-tree ul,
.example-tree li {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}

.example-tree-invisible {
  display: none;
}

.espace {
  margin-left: 12px;
}